name: Keep Render Alive

on:
  schedule:
    - cron: '*/10 * * * *' 
  workflow_dispatch:

jobs:
  ping_render:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend URL
        run: |
          curl -I https://codingplatform-32vc.onrender.com/
          echo "Ping sent to keep Render service alive"